<section id="main-slider" class="no-margin">
  <div class="carousel slide">
      <div class="carousel-inner">
        <div class="item active" style="background-image: url(<%= image_path('angkor4.jpg') %>"></div><!--/.item-->
      </div><!--/.carousel-inner-->
  </div><!--/.carousel-->
</section><!--/#main-slider-->
