<footer id="footer" class="midnight-blue">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
          &copy; 2016 <a target="_blank" title="Free Twitter Bootstrap WordPress Themes and HTML templates">Angkor Driver</a>. All Rights Reserved.
      </div>
      <div class="col-sm-6">
        <ul class="pull-right">
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'About', about_path %></li>
            <li><%= link_to 'Contact', contact_path %></li>
        </ul>
      </div>
    </div>
  </div>
</footer><!--/#footer-->
