<section id="recent-works">
  <div class="container">
    <div class="center wow fadeInDown">
        <h2>Recent Trips</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
    </div>

    <% if @services %>
      <div class="row">
        <% @services.each do |service|  %>
          <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="recent-work-wrap">
              <%= image_tag(service.image.url(:large), class: 'img-responive') %>
              <div class="overlay">
                  <div class="recent-work-inner">
                    <h3><a href="#"><%= service.title %></a></h3>
                    <p><%= service.body %></p>
                    <a class="preview" href="<%= image_path(service.image.url(:large)) %>" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                  </div>
              </div>
            </div>
          </div>
        <% end %>
      </div><!--/.row-->
    <% end %>
  </div><!--/.container-->
</section><!--/#recent-works-->
